{% extends 'base.html' %}

{% block title %}The Philosophers Blog | Register{% endblock %}

{% block body %}
  <h1>Register</h1>

  <form method="POST">
    
    {% if error %}
        <p style="color: tomato;">{{ error }}</p>
    {% endif %}

    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>

    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div>
      <label for="password_confirmation">Password Confirmation</label>
      <input type="password" name="password_confirmation" id="password_confirmation" required>
    </div>
    
    <input type="submit" value="Sign Up">
  </form>  
{% endblock %}